{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaundryKu</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link href="{% static 'css/apexcharts.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/flatpickr.css' %}" rel="stylesheet" ">
    <script src="{% static 'js/flatpickr.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    {% include 'components/notification.html' %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
    <script src="{% static 'js/flyonui.js' %}"></script>
    <script src="{% static 'js/lodash.js' %}"></script>
    <script src="{% static 'js/apexcharts.js' %}"></script>
    <script src="{% static 'js/helper-apexcharts.js' %}"></script>  
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>

</html>
